*{
    margin:0;
    padding:0;
    background-color:powderblue;
    text-align: center;
    color:green;

}
header{
    text-align: center;
}

h3{
    color: indianred;
}

h1{
    color:brown;
}